name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    name: "Continuous Integration"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Validation - pytest
        env:
          PYTHONPATH: .
        run: pytest

  # cd:
  #   name: "Continuous Deployment"
  #   needs: ci 
  # if: ${{ github.event_name == 'push' }}
  #   runs-on: ubuntu-latest

  #   permissions:
  #     id-token: write 
  #     contents: read

    # steps:
    #   - uses: actions/checkout@v4

    #   - name: Azure Login
    #     uses: azure/login@v1
    #     with:
    #       creds: ${{ secrets.AZURE_CREDENTIALS }}
    # steps:
    #   - name: Notify OKD to Build and Deploy
    #     run: |
    #       curl -X POST ${{ secrets.CD_BUILD_WEBHOOK_dzahng }}
    #       curl -X POST ${{ secrets.CD_BUILD_WEBHOOK_KSSANKAR }}